body {
  margin: 0;
  color: transparent;
}
.logo {
  background: papayawhip;
  height: 30px;
  width: 150px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  background: olivedrab;
  height: 30px;
  width: 60px;
  list-style: none;
}
main article {
  background: lightgray;
}
main article p {
  background: rebeccapurple;
}
aside article {
  background: lightsteelblue;
}
aside article p {
  background: saddlebrown;
}
.img-placeholder {
  height: 125px;
  width: 125px;
  background: yellowgreen;
}
.img-placeholder--fullWidth {
  width: 100%;
}
.widget {
  background: royalblue;
}
footer {
  background: salmon;
}